.vscode/settings.json
code/favcolor.json
code/__pycache__/name_function.cpython-39.pyc
code/__pycache__/survey.cpython-39.pyc
code/__pycache__/employee_test.cpython-39.pyc
code/__pycache__/employee.cpython-39.pyc
CouchCode/Windows/AddFiles/__pycache__/CouchAddInput.cpython-38.pyc
CouchCode/Windows/AddFiles/__pycache__/CouchAddInput.cpython-38.pyc
.gitignore
.gitignore
CouchCode/Windows/AddFiles/__pycache__/GetDataFile.cpython-38.pyc
CouchCode/Windows/AddFiles/__pycache__/CouchCurl.cpython-38.pyc
